<%- include('layouts/header'); -%>
    <%- include('layouts/nav2'); -%>

            <div>
                <h2 style="text-align: center;"><label>vaccination details for Your child</label></h4>
            </div>
            <div class="itemsContainer">
                <div class="childRegDetails">
                    <p>Child FullName: <%= childRegistrationData.firstName %>
                            <%= childRegistrationData.lastName %>
                    </p>
                    <p>Date of Birth: <%= childRegistrationData.dateOfBirth %>
                    </p>
                    <p>Birth Place: <%= childRegistrationData.birthplace %>
                    </p>
                    <p>Gender: <%= childRegistrationData.sex %>
                    </p>
                </div>

            </div>
        </form>

        <%- include('layouts/footer') -%>