<%- include('layouts/header'); -%>

    <%- include('layouts/nav'); -%>
    <div class="login-area">
        <div class="image-container">
            <img src="/images/Logo.png" alt="Brand image" />
        </div>
        <div class="login-container">

            <form action="/login" method="post" id="loginForm">

                <h2>Login as Admin</h2>
                <div class="form-elements">
                    <label for="userName">User Name :</label>
                    <input type="text" id="userName" name="userName">
                </div>
                <div class="form-elements">
                    <label for="Email"> Password :</label>
                    <input type="password" id="password" name="password">
                </div>
                <div >
                    <button type="submit" value="submit" class="login-button">Submit</button>
                </div>

                <p id="errors">
                    <div id="errors">
                        <% if(typeof(errors) !='undefined' ) { for(let error of errors) { %>
                            <p class="errors">
                                <%= error.msg %>
                            </p>
                            <% } %>
                                <% } %>
                    </div>
                    </p>

            </form>
        </div>
    </div>    

       

        <p id="errors">
        <div id="errors">
            <% if(typeof(errors) !='undefined' ) { for(let error of errors) { %>
                <p class="errors">
                    <%= error.msg %>
                </p>
                <% } %>
                    <% } %>
        </div>
        </p>

        <%- include('layouts/footer'); -%>