<%- include('layouts/header'); -%>
    <%- include('layouts/nav'); -%>

        <div class="itemsContainer">
            <div class="userRegDetails">
                <p>FullName: <%= registrationDetails.firstName %>
                        <%= registrationDetails.lastName %>
                </p>
                <p>Email: <%= registrationDetails.email %>
                </p>
                <p>Address: <%= registrationDetails.address %>
                </p>
                <p>Mobile Number: <%= registrationDetails.mobileNumber %>
                </p>
                <p>Gender: <%= registrationDetails.sex %>
                </p>
            </div>
            <!--Add other details as needed -->
        </div>

        <a href="childDetails"> Add vaccination details for Your children</a>

        <br><br>
        

        <script src="/public/js/add_child_vaccination.js"></script>

        <%- include('layouts/footer') -%>